<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="container">
      <span>Checkout</span> <input type="text" placeholder="Insert your link here..."> <span>It's awesome!</span>
      <div class="content">
        <img src="" alt="" width="400">
        <h3 id="title"></h3>
        <p id="description"></p>
      </div>

    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="javascripts/mainScript.js"></script>
  </body>
</html>
